server:
  port: 8082
  shutdown: graceful

spring:
  application:
    name: mail-service

  mail:
    host: ${MAIL_HOST:localhost}
    port: ${MAIL_PORT:1025}
    username: ${MAIL_USERNAME:}
    password: ${MAIL_PASSWORD:}
    properties:
      mail:
        smtp:
          auth: ${MAIL_AUTH:false}
          starttls:
            enable: ${MAIL_STARTTLS:false}
            required: false
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

  rabbitmq:
    host: ${RABBITMQ_HOST:localhost}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USERNAME:guest}
    password: ${RABBITMQ_PASSWORD:guest}

  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML
    encoding: UTF-8
    cache: false

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://localhost:8761/eureka/}
  instance:
    prefer-ip-address: true

rabbitmq:
  queue:
    email: email-queue

app:
  mail:
    from: ${MAIL_FROM:noreply@careerportal.com}
    from-name: ${MAIL_FROM_NAME:Career Portal}
  frontend:
    url: ${FRONTEND_URL:http://localhost:3000}

management:
  endpoints:
    web:
      exposure:
        include: health,info

logging:
  level:
    com.thebuilders.mail: DEBUG
